<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OblivionModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <userSettings>
    <OblivionModManager.Properties.Settings>
      <setting name="NexusUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="NexusPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoLoginToNexus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectFormX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectFormY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectFormW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SelectFormH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="DefaultView" serializeAs="String">
        <value>List</value>
      </setting>
      <setting name="ModNameColumnWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="ModAuthorColumnWidth" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ModVersionColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ModNbDataFilesColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ModNbPluginsColumnWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DatePackedColumnWidth" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="ConflictColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="FileSizeColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </OblivionModManager.Properties.Settings>
  </userSettings>
</configuration>
